<h1>Eat_Da_Burger!! Yumm....</h1>

<ul>
    {{#each burgers}}
    <li>{{id}}</li>
    <li>{{burger_name}}</li>
    <li>{{devoured}}</li>
    {{/each}}
</ul>
<h2>Burger to Eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> cats/cat-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burger Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> cats/cat-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Enter a burger you want to eat Click the "Submit" button</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">Burger</label>
    <input type="text" id="bg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>